/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Adding variable at the root level of the stylesheet */
:root {
    /* --primary_color: #09B451; */
    --primary_color: #FFD43B;
    --border: #E4FFFF;
}

/* Giving some margin to the body */
body {
    margin: 0 2rem;
    font-family: "Source Sans 3", serif;
}

/* For Smoot Scrool Behaviour */
html {
    scroll-behavior: smooth;
}

/* --------------- Nav Bar-------------------- */
.nabBar_wrapper {
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_wrapper {
    height: 4rem;
    width: 10rem;
}

.logo_wrapper img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.link_wrapper a{
    text-decoration: none;
    color: #000;
    margin: 0 1rem;
    font-size: 1.1rem;
}

.link_wrapper a:hover{
    color: var(--primary_color);
}

.btn_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.btn_wrapper i{
    color: var(--primary_color);
    font-size: 1.2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.login{
    margin-right: 1.5rem;
    padding: .5rem 1.4rem;
    outline: none;
    border: 2px solid var(--primary_color);
    border-radius: .4rem;
    cursor: pointer;
    background-color: #FFF;
}

.sign_in{
    padding: .5rem 1.4rem;
    outline: none;
    border: 2px solid var(--primary_color);
    border-radius: .4rem;
    cursor: pointer;
    background-color: var(--primary_color);
    color: #FFF;
}