/* General styles */
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}
/* header styles */
header {
    background-color: #4ca850;
    padding: 1rem 0;
}
header h1{
    color: white;
    text-align: center;
    font-size: 2rem;
}

/* Main content Styles */
main{
    padding: 2rem;
}

section{
    margin-bottom: 2rem;
}

h2{
    font-size: 1.5rem;
    border-bottom: 2px solid #4ca850;
    padding-bottom: 0.5rem;
}

image{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Skills list styles */
#skills ul{
    list-style-type: none;
    padding: 0;
}

#skills li{
    display: inline;
    background-color: #4ca850;
    color: white;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

/* Footer Styles */
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}